/vendor/
/node_modules/
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
/yarn-error.log
/storage/logs/
/public/storage/
*.log
*.zip
*.pdf
*.png
*.jpg
*.jpeg
*.xlsx
!public/templates/*.xlsx
.idea/
.vscode/
.php-cs-fixer.cache
/public/hot
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
